:root {
  --white-color: rgba(255, 255, 255, 0.9);
  --body-background: #1e252b;
  --primery-color: rgba(255, 255, 255, 0.55);
  --accent-color: #ff6e30;
  --subtitle-main-color:rgba(255, 255, 255, 0.78);
  --tools-name-color: #FFA537;
  --btn-color: #fdf5ff;
  --trust-color:rgba(255, 255, 255, 0.8);
  --trust-bgr:rgba(44, 53, 61, 0.2);


}

/* .trust {
  background-color: black;
} */
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-background);
  color: var(--primery-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.logo-header {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  /* identical to box height */

  color: var(--white-color);
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height */

  color: var(--primery-color);
}
.btn {
  padding: 12px 28px;

  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fdf5ff;
  border-radius: 8px;
  background-color: transparent;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  color: var(--white-color);
}
.point {
  color: var(--accent-color);
}

.hero-text {
  font-size: 18px;
  line-height: 1.66;
  color: var(--primery-color);
}

.tools-title {
  font-weight: 500;
font-size: 48px;
line-height: 1.3;
text-align: center;
color: var(--white-color);
}

.tools-text {
font-weight: 500;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: var(--primery-color);
}

.tools-subtitle {
font-weight: 500;
font-size: 24px;
line-height: 1.5;
color: var(--subtitle-main-color);
}

.tools-name {
font-size: 18px;
line-height: 1.5;
color: var(--tools-name-color);
}

.tools-description {
font-size: 16px;
line-height: 1.8;
color: var(--primery-color);
}

.tools-link {
border-radius: 15px;
display: block;
}
.tools-link:hover, 
.tools-link:focus {
   background: rgba(40, 48, 54, 0.6);
    backdrop-filter: blur(50px);
}

.tools-button {
font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: var(--accent-color);
background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 8px;
padding: 17px 38px;
}

.tools-button:hover,
.tools-button:focus {
  background-color: var(--accent-color);
  color: var(--btn-color);
}

.trust-title{
  font-weight: 500;
font-size: 24px;
line-height: 1.5;
text-align: center;
color: var(--trust-color);
}

.trust-conteiner{
  background: var(--trust-bgr);
backdrop-filter: blur(50px);
border-radius: 25px;
}